<div class="grid-container">
  <div *ngFor="let thisBlog of blogsToShow" style="padding-bottom: 15px">
    <app-blog-card [title]="thisBlog.metadata.blogTitle ? thisBlog.metadata.blogTitle : ''" [postDate]="thisBlog.metadata.updatedAt" [tags]="splitTags(thisBlog.metadata.tags)">
      <markdown *ngIf="thisBlog.blogFormat === 'markdown'">
        {{thisBlog.blogText}}
      </markdown>
      <span *ngIf="thisBlog.blogFormat === 'plaintext' || !thisBlog.blogFormat">
        {{thisBlog.blogText}}
      </span>
    </app-blog-card>
  </div>
</div>
